# HOUSE PRICES

In [1]:
import os
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
# from pandas_profiling import ProfileReport as ppf
%matplotlib inline

## READ DATA

In [2]:
house_prices = pd.read_csv("data/house_prices.csv")
print(house_prices.shape)
house_prices.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
house_prices_submission = pd.read_csv("data/house_prices_submission.csv")
print(house_prices_submission.shape)
house_prices_submission.head()

(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

COLUMNS

In [35]:
pd.DataFrame(house_prices.columns).T

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice

## FEATURES

In [36]:
house_prices.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

**Feature: Alley**

In [4]:
house_prices['Alley'] = np.where(pd.isna(house_prices.Alley) == True, 'No', house_prices.Alley)
print(pd.value_counts(house_prices.Alley))
house_prices.head()

# submission
house_prices_submission['Alley'] = np.where(pd.isna(house_prices_submission.Alley) == True, 'No', 
                                            house_prices_submission.Alley)

print(house_prices_submission.shape)

No      1369
Grvl      50
Pave      41
Name: Alley, dtype: int64
(1459, 80)

**PoolQC**

In [5]:
house_prices.PoolQC.describe()

count      7
unique     3
top       Gd
freq       3
Name: PoolQC, dtype: object

In [6]:
pd.value_counts(house_prices.PoolQC)

Gd    3
Fa    2
Ex    2
Name: PoolQC, dtype: int64

In [7]:
# impute PoolQC
house_prices['PoolQC'] = np.where(pd.isna(house_prices.PoolQC) == True, 'No', house_prices.PoolQC)
print(pd.value_counts(house_prices.PoolQC))
house_prices.head()

# impute test set
house_prices_submission['PoolQC'] = np.where(pd.isna(house_prices_submission.PoolQC) == True, 
                                             'No', house_prices_submission.PoolQC)

print(house_prices_submission.shape)

No    1453
Gd       3
Fa       2
Ex       2
Name: PoolQC, dtype: int64
(1459, 80)

**Fence**

In [8]:
pd.value_counts(house_prices.Fence)

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

In [9]:
house_prices['Fence'] = np.where(pd.isna(house_prices.Fence) == True, 'No', house_prices.Fence)
print(pd.value_counts(house_prices.Fence))
house_prices.head()

# submission set
house_prices_submission['Fence'] = np.where(pd.isna(house_prices_submission.Fence) == True, 
                                            'No', house_prices_submission.Fence)
print(house_prices_submission.shape)

No       1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64
(1459, 80)

**MiscFeature**

In [10]:
house_prices['MiscFeature'] = np.where(pd.isna(house_prices.MiscFeature) == True, 'No', house_prices.MiscFeature)
print(pd.value_counts(house_prices.MiscFeature))
house_prices.head()

# submission set
house_prices_submission['MiscFeature'] = np.where(pd.isna(house_prices_submission.MiscFeature) == True, 
                                                  'No', house_prices_submission.MiscFeature)
print(house_prices_submission.shape)

No      1406
Shed      49
Othr       2
Gar2       2
TenC       1
Name: MiscFeature, dtype: int64
(1459, 80)

## Pandas Profile

In [11]:
#house_price_profile = ppf(house_prices, title='House Prices')
#house_price_profile

## Missiong Values Columns

* GarageCond
* LotFrontage
* BsmtFinType1
* BsmtFinType2
* BsmtExposure
* GarageType
* GarageYrBlt
* FireplaceQu

* MasVnrArea
* BsmtCond
* BsmtQual
* MasVnrType
* GarageFinish
* GarageQual

Drop PoolQC

In [12]:
def ImputeMedian(input_df, colname):
    output_df = input_df.copy()
    medianval = pd.DataFrame.mean (output_df[colname])
    output_df[colname] = np.where(pd.isna(output_df[colname]),medianval, 
                                        output_df[colname])
    return output_df

def ImputeMedianInt(input_df, colname):
    output_df = input_df.copy()
    medianval = pd.DataFrame.mean (output_df[colname])
    output_df[colname] = np.where(pd.isna(output_df[colname]),int(medianval), 
                                        output_df[colname])
    return output_df

In [13]:
def ImputeCatNo(input_df, colname):
    output_df = input_df.copy()
    output_df[colname] = np.where(pd.isna(output_df[colname]), 
                                      'No', output_df[colname])
    return output_df

**GarageCond**

In [14]:
pd.value_counts(house_prices['GarageCond'])

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

In [15]:
house_prices['GarageCond'] = np.where(pd.isna(house_prices['GarageCond']), 
                                      'No', house_prices['GarageCond'])
# submission set
house_prices_submission['GarageCond'] = np.where(pd.isna(house_prices_submission['GarageCond']), 
                                      'No', house_prices_submission['GarageCond'])
pd.value_counts(house_prices['GarageCond'])
print(house_prices_submission.shape)

(1459, 80)

**LotFrontage**

In [16]:
house_prices = ImputeMedian(house_prices, 'LotFrontage')
print(house_prices[['LotFrontage']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeMedian(house_prices_submission, 'LotFrontage')
print(house_prices_submission.shape)

LotFrontage    0
dtype: int64
(1459, 80)

**BsmtFinType1**

In [17]:
house_prices = ImputeCatNo(house_prices, 'BsmtFinType1')
print(house_prices[['BsmtFinType1']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'BsmtFinType1')
print(house_prices_submission.shape)

BsmtFinType1    0
dtype: int64
(1459, 80)

In [18]:
house_prices = ImputeCatNo(house_prices, 'BsmtFinType2')
print(house_prices[['BsmtFinType2']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'BsmtFinType2')
print(house_prices_submission.shape)

BsmtFinType2    0
dtype: int64
(1459, 80)

**BsmtExposure**

In [19]:
house_prices = ImputeCatNo(house_prices, 'BsmtExposure')
print(house_prices[['BsmtExposure']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'BsmtExposure')
print(house_prices_submission.shape)

BsmtExposure    0
dtype: int64
(1459, 80)

**GarageType**

In [20]:
house_prices = ImputeCatNo(house_prices, 'GarageType')
print(house_prices[['GarageType']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'GarageType')
print(house_prices_submission.shape)

GarageType    0
dtype: int64
(1459, 80)

**GarageYrBlt**

In [21]:
house_prices = ImputeMedianInt(house_prices, 'GarageYrBlt')
print(house_prices[['GarageYrBlt']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeMedianInt(house_prices_submission, 'GarageYrBlt')
print(house_prices_submission.shape)

GarageYrBlt    0
dtype: int64
(1459, 80)

**FireplaceQu**

In [22]:
house_prices = ImputeCatNo(house_prices, 'FireplaceQu')
print(house_prices[['FireplaceQu']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'FireplaceQu')
print(house_prices_submission.shape)

FireplaceQu    0
dtype: int64
(1459, 80)

**MasVnrArea**

In [23]:
house_prices = ImputeMedianInt(house_prices, 'MasVnrArea')
print(house_prices[['MasVnrArea']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeMedianInt(house_prices_submission, 'MasVnrArea')
print(house_prices_submission.shape)

MasVnrArea    0
dtype: int64
(1459, 80)

**BsmtCond**

In [24]:
house_prices = ImputeCatNo(house_prices, 'BsmtCond')
print(house_prices[['BsmtCond']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'BsmtCond')
print(house_prices_submission.shape)

BsmtCond    0
dtype: int64
(1459, 80)

**BsmtQual**

In [25]:
house_prices = ImputeCatNo(house_prices, 'BsmtQual')
print(house_prices[['BsmtQual']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'BsmtQual')
print(house_prices_submission.shape)

BsmtQual    0
dtype: int64
(1459, 80)

**MasVnrType**

In [26]:
house_prices = ImputeCatNo(house_prices, 'MasVnrType')
print(house_prices[['MasVnrType']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'MasVnrType')
print(house_prices_submission.shape)

MasVnrType    0
dtype: int64
(1459, 80)

**GarageFinish**

In [27]:
house_prices = ImputeCatNo(house_prices, 'GarageFinish')
print(house_prices[['GarageFinish']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'GarageFinish')
print(house_prices_submission.shape)

GarageFinish    0
dtype: int64
(1459, 80)

**GarageQual**

In [28]:
house_prices = ImputeCatNo(house_prices, 'GarageQual')
print(house_prices[['GarageQual']].isnull().sum(axis = 0))

# submission set
house_prices_submission = ImputeCatNo(house_prices_submission, 'GarageQual')
print(house_prices_submission.shape)

GarageQual    0
dtype: int64
(1459, 80)

In [29]:
# house_prices.FireplaceQu.value_counts()
# house_prices[['GarageYrBlt']].isnull().sum(axis = 0)

## REMOVE OUTLIERS

* Id = 935, 1299, 323
* Actual SalesPrice = 184750, 160000, 755000, 147000

In [30]:
# house_prices.loc[house_prices.SalePrice.isin ( [184750,160000,745000,755000,147000])]

# WRITE TO CSV

In [31]:
print(house_prices.shape)
print(house_prices_submission.shape)

(1460, 81)
(1459, 80)

In [32]:
house_prices.to_csv("data/HousePricesOrig.csv", index = False)
house_prices_submission.to_csv("data/HousePricesOrig_submission.csv", index = False)